/*------------------------------
** BREAKPOINTS
------------------------------*/
$sm_device: 500px;
$md_device: 768px;
$lg_device: 1024px;
$xl_device: 1280px;
$xxl_device: 1440px;

/*------------------------------
** SPACING
** Besides effecting grid gap,
** this also effects margins,
** paddings and flex columns
------------------------------*/
$grid_unit: 4px;
$grid_gap: $grid_unit * 7;
$sm__grid_gap: $grid_unit * 7;
$md__grid_gap: $grid_unit * 7;
$lg__grid_gap: $grid_unit * 7;
$xl__grid_gap: $grid_unit * 7;
$xxl__grid_gap: $grid_unit * 7;

$grid_units: (
    "0": 0,
    "1": 1,
    "2": 2,
    "3": 3,
    "4": 4,
    "5": 5,
    "6": 6,
    "7": 7,
    "8": 8,
    "9": 9,
    "10": 10,
    "12": 12,
    "15": 15,
    "20": 20,
    "25": 25,
);

/*------------------------------
** COLOURS
------------------------------*/
$primary_color_extra_light: #ebf4ff;
$primary_color_light: #a3bffa;
$primary_color: #667eea;
// up remove
$primary_color_dark: #510c7b;
$primary_color_extra_dark: #33084d;

$secondary_color_extra_light: #e6fffa;
$secondary_color_light: #81e6d9;
// up remove
$secondary_color: #fc1369;
$secondary_color_dark: #ad0d49;
//down remove
$secondary_color_extra_dark: #234e52;

//remove accent
$accent_color_extra_light: #fff5f7;
$accent_color_light: #fbb6ce;
$accent_color: #ed64a6;
$accent_color_dark: #b83280;
$accent_color_extra_dark: #702459;

$neutral_color_extra_light: #f4f4f4;
$neutral_color_light: #e2e8f0; // remove
$neutral_color: #808080;
$neutral_color_dark: #4a5568; // remove
$neutral_color_extra_dark: #1c1d1e;
