<section class="wrapper">
    <div class="flex">
        <div class="col-12 lg__col-6 lg__col-offset-3 text--center">
            <h2 class="margin--bottom-6 lg__margin--bottom-10 lg__text--2xl">
                {{ heading }}
            </h2>
            <a href="{{ link_url }}" class="button-primary">{{ link_text }}</a>
        </div>
    </div>
</section>
