<nav class="hidden lg__block">
    <ul class="flex justify--end align--center">
        <li class="dropdown__item">
            <button data-target="fonctionnement-lg" data-type="dropdown">
                <span class="flex align--center">
                    <span class="block margin--right-2">Fonctionnement</span>
                    <img alt="" src="/assets/svgs/caret-down.svg" />
                </span>
            </button>
            <ul class="dropdown__sub-menu" id="fonctionnement-lg">
                <li>
                    <a href="">Comment ça marche</a>
                </li>
                <li>
                    <a href="/intelligence-artificielle/"
                        >L’intelligence artificielle</a
                    >
                </li>
                <li>
                    <a href="">Securité</a>
                </li>
            </ul>
        </li>
        <li class="dropdown__item margin--left-12">
            <button data-target="produits-lg" data-type="dropdown">
                <span class="flex align--center">
                    <span class="block margin--right-2">Produits</span>
                    <img alt="" src="/assets/svgs/caret-down.svg" />
                </span>
            </button>
            <ul class="dropdown__sub-menu" id="produits-lg">
                <li>
                    <a href="">nephrowise</a>
                </li>
                <li>
                    <a href="">oncowise</a>
                </li>
                <li>
                    <a href="">cardiowise</a>
                </li>
                <li>
                    <a href="">mentalwise</a>
                </li>
            </ul>
        </li>
        <li class="main-nav__item margin--left-12">
            <a href="">Actualités</a>
        </li>
        <li class="main-nav__item margin--left-12">
            <a href="">Notre équipe</a>
        </li>
        <li class="margin--left-12">
            <a class="button-primary" href="">Essayez la demo</a>
        </li>
    </ul>
</nav>
