<div class="hidden lg__block wrapper">
    <div class="flex">
        <div class="col-2">
            <h3 class="body text--base text--secondary">Enterprise</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="">Notre équipe</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Conseil Scientifique</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Partenaires</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Communiqés Presse</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Réseaux Sociaux</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h3 class="body text--base text--secondary">Nos Solutions</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="">OncoWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">NephroWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">CardioWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">MentalWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">OrthoWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">ImmunoWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">PneumoWise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Autres Cas</a></li>
            </ul>
        </div>

        <div class="col-2">
            <h3 class="body text--base text--secondary">Fonctionnement</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="">Comment ça marche</a></li>
                <li><a class="semibold text--light block padding--y-1" href="">Notre IA</a></li>
            </ul>
        </div>

        <div class="col-offset-2 col-4 flex--column">
            <div class="footer__logo">
                <img alt="" src="/assets/svgs/logo.svg">
            </div>
            <p class="semibold text--light margin--top-7">
                Enfin une solution de télésuivi des patients simple, intuitive et efficace.
            </p>

            <div class="footer__social-icons flex align--center">
                <a class="block margin--right-4" href="">
                    <img alt="" src="/assets/svgs/twitter-icon.svg">
                </a>
                <a class="block" href="">
                    <img alt="" src="/assets/svgs/linkedin-icon.svg">
                </a>
            </div>
        </div>

        <div class="col-12 margin--top-15">
            <p class="text--sm text--light text--center">
                Sêmeia &copy; 2020, tous droits réservés
            </p>
        </div>
    </div>
</div>