<div class="lg__hidden wrapper">
    <div class="flex">
        <div class="col-12">
            <div class="footer__logo">
                <img alt="" src="/assets/svgs/vertical-logo.svg" srcset="">
            </div>
            <p class="text--semibold text--light text--center margin--top-4">
                Enfin une solution de télésuivi des patients simple, intuitive et efficace.
            </p>
        </div>

        <div class="col-6 margin--top-10">
            <h3 class="body text--base text--secondary">Fonctionnement</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="/comment/">Comment ça marche ?</a></li>
                <li><a class="semibold text--light block padding--y-1" href="/intelligence-artificielle/">L'intelligence artificielle</a></li>
                <li><a class="semibold text--light block padding--y-1" href="/securite-des-donnes/">Sécurité</a></li>
            </ul>
        </div>

        <div class="col-6 margin--top-10">
            <h3 class="body text--base text--secondary">Produits</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="/produits/nephrowise/"><span class="semibold">Nephro</span>Wise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="/produits/mentalwise/"><span class="semibold">Mental</span>Wise</a></li>
                <li><a class="semibold text--light block padding--y-1" href="/produits/oncowise/"><span class="semibold">Onco</span>Wise</a></li>
            </ul>
        </div>

        <div class="col-6 margin--top-10">
            <h3 class="body text--base text--secondary">Notre ADN</h3>
            <ul>
                <li><a class="semibold text--light block padding--y-1" href="/our-team/">Notre équipe</a></li>
                <li><a class="semibold text--light block padding--y-1" href="/our-team/#partners">Partenaires</a></li>
                {% comment %} <li><a class="semibold text--light block padding--y-1" href="/posts/">Actualités</a></li> {% endcomment %}
                <li><a class="semibold text--light block padding--y-1" href="/vacancies/">Carrières</a></li>
            </ul>
        </div>

        <div class="col-12 flex justify--center margin--top-10">
            <a class="block margin--x-2" href="https://twitter.com/Semeia_io" target="_blank">
                <img alt="" src="/assets/svgs/twitter-icon.svg">
            </a>
            <a class="block margin--x-2" href="https://www.linkedin.com/company/semeia/" target="_blank">
                <img alt="" src="/assets/svgs/linkedin-icon.svg">
            </a>
        </div>
        <div class="col-12 flex justify--center margin--top-1">
            <a class="text--light text--sm text--center" href="https://nephrowise.semeia.io/terms-of-use" target="_blank">
                Politique de confidentialité<br />Conditions Générales d'Utilisation
            </a>
        </div>
        <div class="col-12 margin--top-4">
            <p class="text--sm text--light text--center">
                Sêmeia &copy; 2021, tous droits réservés.
            </p>
        </div>
    </div>
</div>
