<div class="home-advantages">
    <div class="wrapper padding--bottom-0">
        <div class="lg__grid lg__grid-4-columns">
            <h2
                class="margin--top-20 lg__margin--top-0 margin--bottom-4 lg__col-start-2"
            >
                Gagnez du temps
            </h2>
            <div class="margin--bottom-15 lg__col-start-2 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Lettres, emails, fax… Ne cherchez plus les informations de
                    vos patients : elles sont regroupées au même endroit.
                    Concentrez-vous seulement sur votre métier et vos patients.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-3">
                Améliorez la qualité des soins
            </h2>
            <div class="margin--bottom-15 lg__col-start-3 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Accédez en un coup d’œil au parcours de soins de votre
                    patient, et décidez plus rapidement de la suite pour un
                    suivi de plus en plus pointu.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-4">
                Restez connecté au patients
            </h2>
            <div class="lg__col-start-4 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Créer un lien, soutenir et rassurer. Une relation
                    privilégiée, sécurisée et confidentielle que permettent le
                    chat et la téléconsultation.
                </p>
            </div>
        </div>
        <!-- first part -->

        <div
            class="padding--y-10 bg--primary lg__grid lg__grid-12-columns corners--rounded"
        >
            <div
                class="margin--bottom-15 lg__col-start-9 lg__col-end-12 lg__row-start-1 lg__row-end-3"
            >
                <h2
                    class="lg__text--2xl text--light text--center lg__text--right"
                >
                    L’Intelligence Artificielleau service du suivi patients
                </h2>
                <span class="hidden lg__block text--right lg__margin--top-15">
                    {% include components/button-tertiary link"#", text:"en
                    savoir plus" %}
                </span>
            </div>

            <h2 class="lg__text--2xl text--light lg__col-start-2 lg__col-end-5">
                Anticipez
            </h2>
            <div
                class="margin--bottom-15 lg__padding--bottom-0 lg__col-start-2 lg__col-end-5"
            >
                <hr />
                <p class="text--light">
                    Contrôlez au maximum les risques pour vos patients dans leur
                    parcours de soin et assurez à distance un suivi personnalisé
                    selon leur profil de risque.
                </p>
            </div>
            <h2
                class="lg__text--2xl text--light lg__col-start-5 lg__col-end-8 lg__row-start-1"
            >
                Réagissez plus vite
            </h2>
            <div
                class="margin--bottom-15 lg__margin--bottom-0 lg__col-start-5 lg__col-end-8"
            >
                <hr />
                <p class="text--light">
                    Accompagnez vos patients dans leur parcours, réagissez
                    immédiatement en cas d’alerte et intervenez au moment où vos
                    patients en ont le plus besoin.
                </p>
            </div>
            <span class="block text--center lg__hidden">
                {% include components/button-tertiary link"#", text:"en savoir
                plus" %}
            </span>
        </div>
        <!-- 2nd part -->
    </div>
    <div class="bg--secondary"></div>
</div>

<div class="bg--secondary">
    <div class="wrapper">
        <div
            class="grid grid-2-columns lg__grid-12-columns padding--y-10 lg__padding--x-0"
        >
            <div
                class="col-start-1 col-end-3 lg__col-end-9 lg__row-start-1 lg__row-end-3"
            >
                <div
                    class="bg--white radius-extra-br padding--x-3 lg__padding--x-15 padding--y-6 lg__padding--y-20"
                >
                    <h2 class="text--center lg__text--left">
                        Sécurité des données
                    </h2>
                    <p>
                        petit texte de présentation pour assurer aux gens que
                        l'application est sécurisée et conforme
                    </p>
                    {% include components/button-tertiary link:"#", text:"en
                    savoir plus" %}
                </div>
            </div>
            <img
                class="col-end-2 lg__col-start-10 lg__col-end-12"
                src="/assets/images/rgpd.png"
                alt=""
            />
            <img
                class="col-start-2 lg__col-start-10 lg__col-end-12"
                src="/assets/images/iso.png"
                alt=""
            />
        </div>
    </div>
</div>
