<div class="home-advantages bg--light">
    <div class="wrapper padding--bottom-0">
        <div class="lg__grid lg__grid-4-columns">
            <h2
                class="margin--top-20 lg__margin--top-0 margin--bottom-4 lg__col-start-2"
            >
                Gagnez du temps
            </h2>
            <div class="margin--bottom-15 lg__col-start-2 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Lettres, emails, fax… Ne cherchez plus les informations de
                    vos patients : elles sont regroupées au même endroit.
                    Concentrez-vous seulement sur votre métier et vos patients.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-3">
                Améliorez la qualité des soins
            </h2>
            <div class="margin--bottom-15 lg__col-start-3 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Accédez en un coup d’œil au parcours de soins de votre
                    patient, et décidez plus rapidement de la suite pour un
                    suivi de plus en plus pointu.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-4">
                Restez connecté au patients
            </h2>
            <div class="lg__col-start-4 lg__row-start-2">
                <hr class="margin--bottom-6" />
                <p>
                    Créer un lien, soutenir et rassurer. Une relation
                    privilégiée, sécurisée et confidentielle que permettent le
                    chat et la téléconsultation.
                </p>
            </div>
        </div>
        <!-- first part -->

        <div
            class="padding--y-10 bg--primary lg__grid lg__grid-12-columns corners--rounded"
        >
            <div
                class="margin--bottom-15 lg__col-start-9 lg__col-end-12 lg__row-start-1 lg__row-end-3"
            >
                <h2
                    class="lg__text--2xl text--light text--center lg__text--right"
                >
                    L’Intelligence Artificielle au service du suivi patients
                </h2>
                <span class="hidden lg__block text--right lg__margin--top-15">
                    <a class="button-secondary" href="/intelligence-artificielle/">En savoir plus</a>
                </span>
            </div>

            <h2 class="lg__text--2xl text--light lg__col-start-2 lg__col-end-5">
                Anticipez
            </h2>
            <div
                class="margin--bottom-15 lg__padding--bottom-0 lg__col-start-2 lg__col-end-5"
            >
                <hr />
                <p class="text--light">
                    Contrôlez au maximum les risques pour vos patients dans leur
                    parcours de soin et assurez à distance un suivi personnalisé
                    selon leur profil de risque.
                </p>
            </div>
            <h2
                class="lg__text--2xl text--light lg__col-start-5 lg__col-end-8 lg__row-start-1"
            >
                Réagissez plus vite
            </h2>
            <div
                class="margin--bottom-15 lg__margin--bottom-0 lg__col-start-5 lg__col-end-8"
            >
                <hr />
                <p class="text--light">
                    Accompagnez vos patients dans leur parcours, réagissez
                    immédiatement en cas d’alerte et intervenez au moment où vos
                    patients en ont le plus besoin.
                </p>
            </div>
            <span class="block text--center lg__hidden">
                <a class="button-secondary" href="/intelligence-artificielle/">En savoir plus</a>
            </span>
        </div>
        <!-- 2nd part -->
    </div>
    <div class="bg--secondary"></div>
</div>
