<nav class="main-nav" id="main-nav">
    <div class="close-button__wrapper flex justify--end">
        <button
            class="menu-toggle margin--bottom-12 margin--top-4"
            id="close-main-nav"
        >
            <img alt="" src="/assets/svgs/close.svg" />
        </button>
    </div>

    <ul>
        <li>
            <button
                class="toggle-button--with-caret"
                data-target="fonctionnement"
                data-type="dropdown"
            >
                <span class="flex align--center">
                    <span class="block margin--right-2 semibold"
                        >Fonctionnement</span
                    >
                    <img alt="" src="/assets/svgs/caret-down.svg" />
                </span>
            </button>
            <ul class="fonctionnement-nav" id="fonctionnement">
                <li>
                    <a class="semibold" href="/comment/">Comment ça marche ?</a>
                </li>
                <li>
                    <a class="semibold" href="/intelligence-artificielle/"
                        >L’intelligence artificielle</a
                    >
                </li>
                <li>
                    <a class="semibold" href="/securite-des-donnes">Securité</a>
                </li>
            </ul>
        </li>
        <li>
            <button
                class="toggle-button--with-caret"
                data-target="produits"
                data-type="dropdown"
            >
                <span class="flex align--center">
                    <span class="block margin--right-2 semibold">Produits</span>
                    <img alt="" src="/assets/svgs/caret-down.svg" />
                </span>
            </button>
            <ul class="fonctionnement-nav" id="produits">
                <li>
                    <a class="semibold" href="/produits/nephrowise/">NephroWise</a>
                </li>
                <li>
                    <a class="semibold" href="/produits/nephrowise/">OncoWise</a>
                </li>
                <li>
                    <a class="semibold" href="/produits/nephrowise/">MentalWise</a>
                </li>
                <li>
                    <a class="semibold" href="/produits/nephrowise/">Autres cas…</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="semibold" href="/posts/">Actualités</a>
        </li>
        <li>
            <button
                class="toggle-button--with-caret"
                data-target="adn"
                data-type="dropdown"
            >
                <span class="flex align--center">
                    <span class="block margin--right-2 semibold">Notre ADN</span>
                    <img alt="" src="/assets/svgs/caret-down.svg" />
                </span>
            </button>
            <ul class="fonctionnement-nav" id="adn">
                <li>
                    <a class="semibold" href="/our-team/">Notre équipe</a>
                </li>
                <li>
                    <a class="semibold" href="/vacancies/">Nous rejoindre</a>
                </li>
            </ul>
        </li>
        <li class="text--center margin--top-6">
            <a class="button-primary" href="mailto:contact@semeia.io">Contactez Nous</a>
        </li>
    </ul>
</nav>
