<nav class="main-nav" id="main-nav">
    <div class="close-button__wrapper flex justify--end">
        <button class="menu-toggle margin--bottom-12 margin--top-4" id="close-main-nav">
            <img alt="" src="/assets/svgs/close.svg">
        </button>
    </div>

    <ul>
        <li>
            <button class="toggle-button--with-caret" data-target="fonctionnement" data-type="dropdown">
                <span class="flex align--center">
                    <span class="block margin--right-2 semibold">Fonctionnement</span>
                    <img alt="" src="/assets/svgs/caret-down.svg">
                </span>
            </button>
            <ul class="fonctionnement-nav" id="fonctionnement">
                <li>
                    <a class="semibold" href="">Comment ça marche</a>
                </li>
                <li>
                    <a class="semibold" href="">L’intelligence artificielle</a>
                </li>
                <li>
                    <a class="semibold" href="">Securité</a>
                </li>
            </ul>
        </li>
        <li>
            <button class="toggle-button--with-caret" data-target="produits" data-type="dropdown">
                <span class="flex align--center">
                    <span class="block margin--right-2 semibold">Produits</span>
                    <img alt="" src="/assets/svgs/caret-down.svg">

                </span>
            </button>
            <ul class="fonctionnement-nav" id="produits">
                <li>
                    <a class="semibold" href="">nephrowise</a>
                </li>
                <li>
                    <a class="semibold" href="">oncowise</a>
                </li>
                <li>
                    <a class="semibold" href="">cardiowise</a>
                </li>
                <li>
                    <a class="semibold" href="">mentalwise</a>
                </li>
            </ul>
        </li>
        <li>
            <a class="semibold" href="">Actualités</a>
        </li>
        <li>
            <a class="semibold" href="">Notre équipe</a>
        </li>
        <li class="text--center margin--top-6">
            <a class="button-primary" href="">Essayez la demo</a>
        </li>
    </ul>
</nav>