<section class="testimonials">
  <div class="wrapper">
    <div>
      <div class="zen-carousel">
        <div class="zen-carousel__track">
          <div class="slide">
            <div class="small-devices">
              <p class="testimonial__text">
               “C’est très simple, ça prend peu de temps et ça rend beaucoup de services au médecin et au patient, ce qui est l’essentiel bien sûr.” 
              </p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/dr-renoud.jpg"
              />
              <p class="testimonial__author">Pr Renaud Snanoudj - APHP</p>
            </div>

            <div class="large-devices">
              <p class="testimonial__text">
                “C’est très simple, ça prend peu de temps et ça rend beaucoup de services au médecin et au patient, ce qui est l’essentiel bien sûr.”
              </p>

              <p class="testimonial__author">Pr Renaud Snanoudj - APHP</p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/dr-renoud.jpg"
              />
            </div>
          </div>

          <div class="slide">
            <div class="small-devices">
              <p class="testimonial__text">
                {{ heading }}
              </p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/photo_jo.png"
              />
              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
            </div>

            <div class="large-devices">
              <p class="testimonial__text">
                {{ heading }}
              </p>
              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/photo_jo.png"
              />
            </div>
          </div>
        </div>

        <div class="flex justify--center margin--top-10">
          <button data-slide="0">{% include snippets/testimonial-svg %}</button>
          <button data-slide="1">{% include snippets/testimonial-svg %}</button>
        </div>
      </div>
    </div>
  </div>
</section>
