<section class="testimonials-no-photo">
    <div class="wrapper">
        <div class="bg--secondary padding--top-7 lg__padding--top-25 padding--bottom-12 padding--x-5">
            <div>
                <div class="zen-carousel">
                    <div class="zen-carousel__track">
                        <div class="slide">
                            <div class="lg__padding--x-20">
                                <div class="bg--light padding--10 margin--bottom-4">
                                    <p class="heading text--center text--lg">
                                        “Grâce à l’application, j’ai une réponse de mon néphrologue dans les 24h suite à la transmission de mes résultats d’a
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        J’ai aussi accès à mon plan de soins et mes traitements ce qui est très pratique lorsque je consulte un médecin de ville”
                                    </p>
                                </div>
                                <p class="text--light text--center lg__text--right lg__margin--right-25">
                                    Patient de l’hôpital Foch
                                </p>
                            </div>
                        </div>
                        <div class="slide">
                            <div class="lg__padding--x-20">
                                <div class="bg--light padding--10 margin--bottom-4">
                                    <p class="heading text--center text--lg">
                                        “Grâce à l’application, j’ai une réponse de mon néphrologue dans les 24h suite à la transmission de mes résultats d’a
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        J’ai aussi accès à mon plan de soins et mes traitements ce qui est très pratique lorsque je consulte un médecin de ville”
                                    </p>
                                </div>
                                <p class="text--light text--center lg__text--right lg__margin--right-25">
                                    Patient de l’hôpital Foch
                                </p>
                            </div>
                        </div>


                    </div>

                    <div class="flex justify--center margin--top-4">
                        <button data-slide="0">{% include snippets/testimonial-svg %}</button>
                        <button data-slide="1">{% include snippets/testimonial-svg %}</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>
