<section class="testimonials">
  <div class="wrapper">
    <div>
      <div class="zen-carousel">
        <div class="zen-carousel__track">
          <div class="slide">
            <div class="small-devices">
              <p class="testimonial__text">
                “NéphroWise® permet des échanges sécurisés, efficaces et
                raisonnés entre les médecins et les patients. Ainsi, j’écon je
                gagne en réactivité”
              </p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/testimonials-placeholder.png"
              />
              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
            </div>

            <div class="large-devices">
              <p class="testimonial__text">
                {{ heading }}
              </p>

              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/testimonials-placeholder.png"
              />
            </div>
          </div>

          <div class="slide">
            <div class="small-devices">
              <p class="testimonial__text">
                {{ heading }}
              </p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/testimonials-placeholder.png"
              />
              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
            </div>

            <div class="large-devices">
              <p class="testimonial__text">
                {{ heading }}
              </p>
              <p class="testimonial__author">Dr. Jerome Olagne - Nephrologue</p>
              <img
                alt=""
                class="testimonail__image"
                src="/assets/images/testimonials-placeholder.png"
              />
            </div>
          </div>
        </div>

        <div class="flex justify--center margin--top-10">
          <button data-slide="0">{% include snippets/testimonial-svg %}</button>
          <button data-slide="1">{% include snippets/testimonial-svg %}</button>
        </div>
      </div>
    </div>
  </div>
</section>
