/*------------------------------
** Custom css should go here or
** into different directories
** from config and globals.
** This will make it easy
** to update in the future
------------------------------*/
button {
    font-size: 1rem; // this is used for toggles in dropdowns
    font-family: inherit;
}

.button-tertiary {
    @extend .button-secondary;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;

    &:hover {
        background-color: rgba(0, 0, 0, 1);
    }
}

button {
    outline: none;
}

.shadow {
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
}

.shadow--light {
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.15);
}

.corners--rounded {
    border-radius: 4px;
}

.image--rounded-corners {
	border-radius: 4px 4px 80px 4px;
}

.add-padding {
    // used when children are not a flex or grid to get even padding
    padding-left: $grid_gap / 2;
    padding-right: $grid_gap / 2;
}
.relative {
    position: relative;
}

@media screen and (min-width: $lg_device) {
    .lg__align-content--center {
        align-content: center;
    }
    .lg__align-content--end {
        align-content: end;
    }
}

.bg--light {
    background-color: $neutral_color_extra_light;
}

.bg--white {
    background-color: #fff;
}

.bg--primary {
    background-color: $primary_color_dark;
}

.bg--secondary {
    background-color: $secondary_color;
}

hr {
    border: none;
    width: 100%;
    height: 2px;
    background-color: $secondary_color;
}

.lg__margin--bottom-auto {
    @media screen and (min-width: $lg_device) {
        margin-bottom: auto;
    }
}

// BORDER RADIUS
.radius-extra-br {
    border-radius: 5px 5px 50px 5px;
}

.flex [class*="col-"].no-padding {
    padding-left: 0;
    padding-right: 0;
}

.height--full {
    height: 100%;
}

.width--full {
    width: 100%;
}

.bottom-half-primary {
    position: relative;

    &:after {
        content: "";
        display: block;
        width: 100%;
        height: 58%;
        position: absolute;
        left: 0;
        bottom: 0;
        z-index: -1;
        background-color: $primary_color_dark;
    }
}


.leading--tight {
	line-height: 1.2;
}
