---
layout: base.html
---

<section class="product-page bg--primary lg__margin--bottom-25">
    <div class="wrapper lg__padding--top-5">
        <div class="flex">
            <div class="col-12 flex justify--center align--center margin--bottom-5">
                <span class="product__logo margin--right-3">
                    {% include snippets/nephrowise %}
                </span>
                <h1 class="body text--light text--xl lg__text--2xl">
                    Nephro<span class="regular">Wise</span>
                </h1>
            </div>

            <div class="col-12 lg__col-10 lg__col-offset-1 relative app-preview__wrapper">
                <img alt="app preview" class="app-preview shadow corners--rounded" src="/assets/images/NephroWise.jpg"/>
            </div>
        </div>
    </div>
</section>

<div class="lg__padding--y-5"></div>

<section class="wrapper">
    <div class="grid grid-2-columns md__grid-12-columns">
        <div class="col-start-1 col-end-3 md__col-end-13 margin--bottom-6">
            <h2 class="lg__text--2xl text--xl text--center">Qui utilise NephroWise ?</h2>
        </div>

        <div class="col-start-1 col-end-3 md__col-end-13 lg__col-end-6">
            <p>
                NephroWise est utilisé depuis 2019 par de nombreux établissements de santé (Foch, AP HP, CHU Strasbourg, CHU Nantes...) et permet le suivi quotidien de plusieurs centaines de patients.
            </p>
            <p>
                <li>Patients greffés</li>
                <li>Patients MRC stades IV et V</li>
                <li>Patients donneurs</li>
            </p>
            <p>
                Ce logiciel a été développé en collaboration avec des néphrologues et des patients, au plus proche des besoins.
            </p>
        </div>

        <div class="col-start-1 col-end-3 md__col-end-13 lg__col-start-7 lg__col-end-13 lg__row-start-2">
            <div class="flex justify--center align--center">
                <img
                    alt=""
                    class="margin--bottom-6 margin--x-6 md__margin--x-8"
                    src="/assets/images/logos/aphp.png"
                />
                <img
                    alt=""
                    class="margin--bottom-6 margin--x-6 md__margin--x-8"
                    src="/assets/images/logos/hopitaux.png"
                />
                <img
                    alt=""
                    class="margin--bottom-6 margin--x-6 md__margin--x-8"
                    src="/assets/images/logos/foch.png"
                />
                <img
                    alt=""
                    class="margin--bottom-6 margin--x-6 md__margin--x-8"
                    src="/assets/images/logos/hospitalier.png"
                />
            </div>
        </div>

    </div>
</section>

<div class="bg--secondary">
    {% include components/testimonial_static 
        heading: "“NephroWise permet une gestion du patient en ambulatoire en gardant un oeil sur l’évolution de sa santé à domicile.
        Certains patients ont un état de santé fragile. Grâce à un suivi de la tension et du poids, il devient possible d’éviter des hospitalisations.”",
        author: "Dr Jérôme Olagne - CHU Strasbourg",
        white: true,
        image: "" %}
</div>

{% include components/product-features
    title: "À quoi sert NephroWise ?",

    description: "Une solution de télésurveillance médicale pour un suivi rapproché du patient et une meilleure maitrise de votre temps médical.",
    
    collect: "Régulièrement et automatiquement, nous collectons pour vous : 
    <li class='margin--y-4'>Analyses biologiques en ville.</li>
    <li class='margin--y-4'>Tension et poids (IoT).</li>
    <li class='margin--y-4'>Historique des consultations.</li>
    <li class='margin--y-4'>Examens réalisés.</li>
    <li class='margin--y-4'>Délivrance des médicaments en ville.</li>",
    
    visualize: "Vous pouvez, sur un tableau de bord unique, appréhender rapidement l’état de santé de votre patient, son plan de soins, l’évolution de ses constantes et de ses résultats de biologie et le déroulé de son parcours de soins.",
    
    warn: "Nous vous aidons à veiller sur vos patients en vous prévenant, selon les valeurs de référence définies avec vous :
    <li class='margin--y-4'>Si le dosage de créatinine s’envole.</li>
    <li class='margin--y-4'>Si la tension ou le poids varie fortement.</li>
    <li class='margin--y-4'>Si le taux résiduel des immunosuppresseurs évolue.</li>
    <li class='margin--y-4'>Si le patient rencontre des difficultés dans le suivi de son parcours de soins : arrêt de traitement, consultations non réalisées…</li>",
    
    predict: "Nous identifions pour vous, en utilisant des méthodes d’intelligence artificielle, les patients les plus à risque et les phases critiques du parcours :
    <li class='margin--y-4'>Prédiction de l'observance et de la persistance.</li>
    <li class='margin--y-4'>Risque de réhospitalisation.</li>
    <li class='margin--y-4'>Survie du greffon.</li>",
    
    act: "Grâce à ces informations centralisées, vous pouvez facilement au cours, ou entre les consultations :
    <li class='margin--y-4'>Adapter le traitement et les examens.</li>
    <li class='margin--y-4'>Générer les prescriptions en un clic.</li>
    <li class='margin--y-4'>Archiver les infos essentielles (résultats structurés et comptes rendus).</li>",
    
    communicate: "Et vous disposez d’un canal unique d’échange avec vos patients pour : 
    <li class='margin--y-4'>Partager ordonnances, comptes rendus…</li>
    <li class='margin--y-4'>Centraliser et maîtriser les échanges via un chat simple et sécurisé.</li>
    <li class='margin--y-4'>Organiser une téléconsultation.</li>
    <li class='margin--y-4'>Participer à l'éducation sur sa pathologie.</li>"
%}

<div class="home-advantages">
    <div class="wrapper padding--bottom-0">

        <h2 class="text--xl text--center margin--bottom-12">Financez le suivi de vos patients !</h2>

        <div class="lg__grid lg__grid-12-columns">
            <h2 class="margin--top-20 lg__margin--top-0 margin--bottom-4 lg__col-start-3 lg__col-end-7">
                Patients greffés
            </h2>
            <div class="margin--bottom-15 lg__row-start-2 lg__col-start-3 lg__col-end-7">
                <hr class="margin--bottom-6"/>
                <p>
                    NephroWise est éligible au programme de télésurveillance ETAPES. La mise en place de l’outil est sans coût pour l’établissement et l’activité de télésurveillance est rémunérée.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-7 lg__col-end-11">
                Patients en IRC
            </h2>
            <div class="margin--bottom-15 lg__col-start-7 lg__col-end-11 lg__row-start-2">
                <hr class="margin--bottom-6"/>
                <p>
                    NephroWise accompagne  le suivi des patients au stade 4 et 5 de la maladie rénale chronique. Le recueil de données automatisé garantit à votre établissement de toucher les nouveaux forfaits pathologie chronique - MRC pour tous vos patients.
                </p>
            </div>
        </div>
        <!-- first part -->
    </div>
</div>

<div class="bg--secondary">
    {% include components/testimonial_static 
        heading: "“L’application NephroWise me rassure sur mon état de santé, sa création est vraiment un plus pour le suivi médical. En tant qu'ancien greffé, elle m'aurait enlevé tous les doutes lors de mes premières années, en attendant les rendez-vous avec le médecin, tous les trois mois.”",
        author: "Un patient de l’Hôpital Foch",
        white: true,
        image: "" %}
</div>

<section class="wrapper">
    <div class="flex justify--center align--center">
        <div class="col-12 margin--bottom-6 md__margin--bottom-12">
            <p class="text--center">Nos partenaires</p>
        </div>
        <div class="col-12 md__col-3">
            <img alt="" class="block margin--x-auto margin--bottom-6" src="/assets/images/logos/choose-paris.png">
        </div>
        <div class="col-12 md__col-3 margin--bottom-6">
            <img alt="" class="block margin--x-auto margin--bottom-6" src="/assets/images/logos/resah.png">
        </div>
        <div class="col-12 text--center margin--top-6">
            <a class="button-secondary" href="/our-team/#partners">En savoir plus</a>
        </div>
    </div>
</section>

{% include components/security-section %}

{% include components/cta heading: "Découvrez comment Sêmeia peut vous aider",
link_url: "mailto:contact@semeia.io", link_text:"Nous contacter" %}
