---
layout: base.html
---

<section class="product-page bg--primary lg__margin--bottom-25">
    <div class="wrapper lg__padding--top-5">
        <div class="flex">
            <div class="col-12 flex justify--center align--center margin--bottom-5">
                <span class="product__logo margin--right-3">
                    {% include snippets/nephrowise %}
                </span>
                <h1 class="body text--light text--xl lg__text--2xl">
                    Nephro<span class="regular">Wise</span>
                </h1>
            </div>

            <div class="col-12 lg__col-10 lg__col-offset-1 relative app-preview__wrapper">
                <img alt="app preview" class="app-preview shadow corners--rounded" src="/assets/images/app-preview.png"/>
                <a class="button-primary shadow demo-button hidden lg__block" href="">Cliquez pour essayer</a>
            </div>
        </div>
    </div>
</section>

<div class="lg__padding--y-5"></div>

<section class="wrapper">
    <div class="grid grid-2-columns md__grid-12-columns">
        <div class="col-start-1 col-end-3 md__col-end-13 margin--bottom-6">
            <h2 class="text--xl text--center">Qui utilise NephroWise ?</h2>
        </div>

        <div class="col-start-1 col-end-3 md__col-end-13 lg__col-end-6">
            <p>
                NephroWise est utilisé depuis 2019 par de nombreux établissements de santé (Foch, AP HP, CHU Strasbourg, CHU Nantes...) et permet le suivi quotidien de plusieurs centaines de patients.
            </p>
            <p>
                <li>Patients greffés</li>
                <li>Patients MRC stade IV et V</li>
                <li>Patients donneurs</li>
            </p>
            <p>
                Ce logiciel a été développé en collaboration avec des néphrologues et des patients, au plus proche des besoins.
            </p>
        </div>

        <div class="col-start-1 col-end-3 md__col-end-7 lg__col-start-7 lg__col-end-10 lg__row-start-2">
            <div class="flex justify--center align--center">
                <img
                    alt=""
                    class="margin--y-8"
                    src="/assets/images/logos/Logo_resah.png"
                />
                <img
                    alt=""
                    class="margin--y-8"
                    src="/assets/images/logos/Logo_resah.png"
                />
            </div>    
        </div>

        <div class="col-start-1 col-end-3 md__col-start-7 md__col-end-13 md__row-start-3 lg__col-start-10 lg__col-end-13 lg__row-start-2">
            <div class="flex justify--center align--center">
                <img
                    alt=""
                    class="margin--y-8"
                    src="/assets/images/logos/Logo_resah.png"
                />
                <img
                    alt=""
                    class="margin--y-8"
                    src="/assets/images/logos/Logo_resah.png"
                />
            </div>

        </div>
    </div>
</section>

{% include components/testimonials heading: "“NephroWise permet une gestion du patient en ambulatoire en gardant un oeil sur l’évolution de sa santé à domicile.
Certains patients ont un état de santé fragile. Grâce à un suivi de la tension et du poids, il devient possible d’éviter des hospitalisations parfois dramatiques”" %}

<div class="home-advantages">
    <div class="wrapper padding--bottom-0">
        <div class="lg__grid lg__grid-12-columns">
            <h2 class="margin--top-20 lg__margin--top-0 margin--bottom-4 lg__col-start-3 lg__col-end-7">
                Le Programme Etapes
            </h2>
            <div class="margin--bottom-15 lg__row-start-2 lg__col-start-3 lg__col-end-7">
                <hr class="margin--bottom-6"/>
                <p>
                    Expérimentez le programme Etapes avec NephroWise !
                </p>
                <p>
                    NephroWise est éligible au programme de télésurveillance Etapes.
                </p>
                <p>
                    La mise en place de l’outil est sans coût pour l’établissement et l’activité de télésurveillance est rémunérée.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-7 lg__col-end-11">
                Insuffisance rénale chronique
            </h2>
            <div class="margin--bottom-15 lg__col-start-7 lg__col-end-11 lg__row-start-2">
                <hr class="margin--bottom-6"/>
                <p>
                    NephroWise est aussi disponible pour le suivi des patients en insuffisance rénale chronique en stade IV et V et s’ins
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            nouveau forfait de prise en charge.
                </p>
            </div>
        </div>
        <!-- first part -->
    </div>
</div>

{% include components/testimonials-no-photo %}

<section class="wrapper">
    <div class="flex justify--center align--center">
        <div class="col-12 margin--bottom-6 md__margin--bottom-12">
            <p class="text--center">Nos partenaires</p>
        </div>
        <div class="col-12 md__col-3">
            <img alt="" class="block margin--x-auto margin--bottom-6" src="/assets/images/logos/choose-paris.png">
        </div>
        <div class="col-12 md__col-3">
            <img alt="" class="block margin--x-auto margin--bottom-6" src="/assets/images/logos/fnair.png">
        </div>
        <div class="col-12 md__col-3 margin--bottom-6">
            <img alt="" class="block margin--x-auto margin--bottom-6" src="/assets/images/logos/resah.png">
        </div>
        <div class="col-12 text--center">
            <a class="button-secondary" href="/our-team/#partners">en savoir plus</a>
        </div>
    </div>
</section>

<section class="bg--light">
    <div class="wrapper">
        <div class="grid grid-2-columns lg__grid-12-columns">
            <div class="text--center col-start-1 col-end-3 lg__text--left lg__col-start-2 lg__col-end-8">
                <h2 class="md__text--2xl">Sécurité des données</h2>
                <p>petit texte de présentation pour assurer aux gens que l'application est sécurisée et conforme</p>
            </div>
            <div class="text--center col-start-1 col-end-3 row-start-3 lg__text--left lg__col-start-2 lg__col-end-8 lg__row-start-2">
                <a class="button-secondary" href="/securite-des-donnes/">en savoir plus</a>
            </div>
            <div class="text--right col-start-1 col-end-2 row-start-2 lg__col-start-8 lg__col-end-10 lg__row-start-1">
                <img alt="" src="/assets/images/rgpd.png">
            </div>
            <div class="text--left col-start-2 col-end-3 row-start-2 lg__col-start-10 lg__col-end-12 lg__row-start-1">
                <img alt="" src="/assets/images/iso.png">
            </div>
        </div>
    </div>
</section>

{% include components/cta
    heading: "Découvrez comment Sêmeia peut vous aider", link_url: "#",
    link_text:"Essayez la demo" %}
