/*------------------------------
** WRAPPER
------------------------------*/
.wrapper {
    max-width: 1320px;
    margin: 0 auto;
    padding: 28px 0;

    &--full-width {
        max-width: 100%;
    }

    @media screen and (min-width: $md_device) {
        padding: 40px 5%;
    }

    @media screen and (min-width: $xl_device) {
        padding: 60px 5%;
    }

    @media screen and (min-width: $xxl_device) {
        padding: 80px 5%;
    }
}
