.text--light {
    color: $neutral_color_extra_light;
}

.text--primary {
    color: $primary_color_dark;
}

.text--secondary {
    color: $secondary_color;
}

.text--neutral-light {
	color: $neutral_color_light;
}
