.testimonials {
  background-color: #f4f4f4;
  width: 100%;
  overflow: hidden;
}
.testimonials .wrapper {
  padding-left: 0;
  padding-right: 0;
  max-width: 1000px;
}

.zen-carousel .zen-carousel__track {
  display: flex;
  transition: all 0.2s ease-in;
  pointer-events: none;
}

.zen-carousel.dragging .zen-carousel__track {
  transition: none;
}

.zen-carousel .slide {
  @extend .wrapper;
  @extend .padding--y-0;
  width: 100%;
  flex-shrink: 0;
  opacity: 0;
  transition: all 0.3s ease-in;

  &.active {
    opacity: 1;
  }
}

.zen-carousel button svg {
  fill: #d0cece;
}

.testimonials.reversed .wrapper {
	max-width: 1101px;
}

.testimonials.reversed .zen-carousel button svg {
  fill: #ffffff;
}

.zen-carousel button.active svg {
  fill: $secondary_color;
}

.testimonials.reversed .zen-carousel button.active svg {
  fill: $primary_color_dark;
}

.slide .large-devices {
  display: none;
}

@media screen and (min-width: $lg_device) {
  .slide .small-devices {
    display: none;
  }
  .slide .large-devices {
    display: grid;
  }
}

.testimonial {
  .testimonial__text {
    @extend .text--xl;
  }

  .testimonial__author {
    @extend .text--center;
    @extend .text--secondary;
  }
}

@media screen and (min-width: $md_device) {
  .testimonial .testimonial__text {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    color: $neutral_color_extra_dark;
    margin-top: 40px;
    padding: 40px;
    background-color: #fff;
    border-radius: 5px 5px 80px 5px;
  }
}

.small-devices {
  .testimonial__text {
    @extend .text--xl;
    @extend .heading;
    @extend .text--center;
    @extend .margin--bottom-7;
  }

  .testimonail__image {
    @extend .margin--x-auto;
    @extend .block;
    @extend .margin--bottom-5;
    @extend .corners--rounded;
    max-width: 50%;
  }

  .testimonial__author {
    @extend .text--center;
    @extend .text--secondary;
  }
}

.slide .large-devices {
  position: relative;
  width: 85%;
  margin: 0 auto;

  .testimonial__text {
    width: 85%;
    margin-top: 40px;
    padding: 40px;
    background-color: #fff;
    @extend .heading;
    @extend .text--xl;
    border-radius: 5px 5px 80px 5px;
  }

  .testimonial__author {
    width: 80%;
    text-align: right;
    color: $secondary_color;
    padding-right: 28px;
  }

  .testimonail__image {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: -1;
    width: 20%;
    transform: translateY(-50%);
  }
}

.slide .large-devices.static {
  .testimonial__text { z-index: 1; }
  .testimonail__image { z-index: 0; }
}

.testimonials.reversed .slide .testimonial__author {
  @extend .text--light;
}

.testimonials.reversed {
  position: relative;
  background-color: #fff;

  .wrapper {
    position: relative;
    z-index: 100;
  }
  .bg--light {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 50%;
  }
}

.testimonials-no-photo .zen-carousel {
  overflow-x: hidden;

  button.active svg {
    fill: $primary_color_dark;
  }

  .bg--light {
    border-radius: 5px 5px 80px 5px;
  }
}
