---
layout: base.html
---

<section class="home-hero">
    <div class="wrapper lg__padding--bottom-3 lg__padding--top-10">
        <div class="flex">
            <div class="col-12">
                <h1
                    class="text--light text--center text--xl lg__text--3xl margin--bottom-7 lg__margin--bottom-12"
                >
                    Enfin une solution de télésuivi des patients
                    simple,&nbsp;intuitive et efficace.
                </h1>
            </div>
            <div class="col-12 lg__col-10 relative image-iframe__wrapper margin--bottom-5">
                <div class="video-wrapper shadow corners--rounded">
                    <iframe class="corners--rounded"
                    src="https://player.vimeo.com/video/502233260?quality=1080p" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div
                class="col-12 lg__col-2 flex justify--center lg__justify--start lg__align--center lg__align-content--end"
            >
                <ul class="margin--x-2">
                    <li>
                        <a class="text--light" href="/produits/nephrowise/">
                            <span class="hidden md__block">
                                {% include snippets/nephrowise %}
                            </span>
                            <span class="semibold">Nephro</span>Wise</a>
                    </li>
                    <li>
                        <a class="text--light" href="/produits/mentalwise/">
                            <span class="hidden md__block">
                                {% include snippets/mentalwise %}
                            </span>
                            <span class="semibold">Mental</span>Wise</a>
                    </li>
                    <li>
                        <a class="text--light" href="/produits/oncowise/">
                            <span class="hidden md__block">
                                {% include snippets/oncowise %}
                            </span>
                            <span class="semibold">Onco</span>Wise</a>
                    </li>
                    <li>
                        <a class="text--light temporary-disable-hover-effect">
                            <span class="hidden md__block">
                                {% include snippets/cardiowise %}
                            </span>
                            <span class="semibold">Cardio</span>Wise</a>                  
                    </li>
                </ul>
                <ul class="margin--x-2">
                    <li>
                        <a class="text--light temporary-disable-hover-effect">
                            <span class="hidden md__block">
                                {% include snippets/immunowise %}
                            </span>
                            <span class="semibold">Immuno</span>Wise</a>
                    </li>
                    <li>
                        <a class="text--light temporary-disable-hover-effect">
                            <span class="hidden md__block">
                                {% include snippets/pneumowise %}
                            </span>
                            <span class="semibold">Pneumo</span>Wise</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

<section class="testimonials">
    {% include components/testimonial_static 
        heading: "“C’est très simple, ça prend peu de temps et ça rend beaucoup de services au médecin et au patient, ce qui est l’essentiel bien sûr.”",
        author: "Dr Renaud Snanoudj - APHP",
        image: "" %}
</section>

<section class="">
    <div class="wrapper">
        <p class="text--center">Ils nous font confiance</p>
        <div class="flex justify--center align--center">
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/aphp.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/hopitaux.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/foch.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/hospitalier.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/moulins.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/vinatier.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/chru.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/huhm.png"
            />
            <img
                alt=""
                class="margin--y-4 margin--x-8 md__margin--x-8 xl__margin--x-8"
                src="/assets/images/logos/clermont.png"
            />
        </div>
    </div>
</section>

{% include components/home-advantages %}

<section class="bg--light">
    <div class="wrapper">
        <h2 class="text--center lg__margin--bottom-15 lg__margin--top-2">Comment ça marche ?</h2>

        <!-- first section -->
        <div class="flex align--start margin--bottom-15">
            <img
                class="col-10 col-offset-1 lg__col-4 lg__col-offset-0 margin--bottom-10"
                src="/assets/images/comment-ca-marche-1.png"
                alt=""
            />
            <div class="col-12 lg__col-8 no-padding">
                <h2 class="lg__text--2xl col-12 margin--bottom-5">
                    Sêmeia récupère automatiquement les données du patient
                </h2>
                <div class="flex margin--bottom-10">
                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/DMP %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Données de parcours (achats médicaments,
                                réalisation d’actes...)
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/ALD %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Antécédents médicaux (ALD...)
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/Biologie %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Biologie en ville et hôpital
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/Tension %}
                            <p
                                class="width--full text--sm margin--bottom-0 margin--top-3"
                            >
                                Tension, poids...
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <!-- second section -->
        <div
            class="flex--reverse align--start margin--bottom-15"
        >
            <img
                class="col-10 col-offset-1 lg__col-6 lg__col-offset-0 margin--bottom-10"
                src="/assets/images/comment-ca-marche-2.png"
                alt=""
            />
            <div class="col-12 lg__col-6 no-padding">
                <h2 class="lg__text--2xl col-12 margin--bottom-5">
                    L’équipe médicale est alertée en cas de résultats inquiétants
                </h2>
                <div class="flex margin--bottom-10">
                    <div class="col-6 lg__col-4 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/IA %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Information des mesures dépassant les valeurs de référence
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-4 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/Notification %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                IA : Prédiction des patients les plus à risque et des phases critiques du parcours
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- third section -->
        <div class="flex align--start margin--bottom-12">
            <img
                class="col-10 col-offset-1 lg__col-4 lg__col-offset-0 margin--bottom-10"
                src="/assets/images/comment-ca-marche-3.png"
                alt=""
            />
            <div class="col-12 lg__col-8 no-padding">
                <h2 class="lg__text--2xl col-12 margin--bottom-5">
                    Le médecin adapte le plan de soins et le partage à distance avec le patient
                </h2>
                <div class="flex margin--bottom-10">
                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/Ordonnonce %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Adaptation du plan de soins par le médecin
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/communiquer %}
                            <p class="text--sm margin--bottom-0 margin--top-3">
                                Contacts directs et sécurisés par chat, hors situation d’urgence
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/Teleconsult %}
                            <p
                                class="text--sm margin--bottom-0 margin--top-3 width--full"
                            >
                                Téléconsultation
                            </p>
                        </div>
                    </div>

                    <div class="col-6 lg__col-3 margin--bottom-4">
                        <div
                            class="height--full bg--white corners--rounded flex--column justify--between align--center padding--x-3 padding--top-6 padding--bottom-3"
                        >
                            {% include snippets/information %}
                            <p
                                class="text--sm margin--bottom-0 margin--top-3 width--full"
                            >
                                Information éducative sur la pathologie, la prise en charge, et la vie au quotidien
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <span class="block margin--x-auto text--center margin--bottom-12">
            <a class="button-secondary" href="/comment">En savoir plus</a>
        </span>
    </div>
</section>

<div class="bg--secondary">
    <div class="wrapper">
        <div
            class="grid grid-2-columns lg__grid-12-columns padding--y-10 lg__padding--x-0"
        >
            <div
                class="col-start-1 col-end-3 lg__col-end-9 lg__row-start-1 lg__row-end-3"
            >
                <div
                    class="bg--white radius-extra-br padding--x-3 lg__padding--x-15 padding--y-6 lg__padding--y-12"
                >
                    <h2 class="text--center lg__text--left margin--bottom-6">
                        Sécurité des données
                    </h2>
                    <p>
                        Toutes les données sont stockées sur des serveurs sécurisés et l’ensemble des traitements réalisés par nos data scientists sont enregistrés en video et stockés pour garantir une transparence et traçabilité totales.
                    </p>
                    <p>
                        Les serveurs de Sêmeia ont été agréés par la CNIL et sont habilités à recevoir les données issues de l’Assurance Maladie.
                    </p>

                    <a class="button-secondary margin--top-4" href="/securite-des-donnes/">En savoir plus</a>
                </div>
            </div>
            <img
                class="col-end-2 lg__col-start-10 lg__col-end-12"
                src="/assets/images/rgpd.png"
                alt=""
            />
            <img
                class="col-start-2 lg__col-start-10 lg__col-end-12"
                src="/assets/images/iso.png"
                alt=""
            />
        </div>
    </div>
</div>

<section class="wrapper nos-produits">
    <div class="flex">
        <div class="col-12">
            <h2 class="text--center margin--bottom-10">Nos produits</h2>
        </div>
        <div
            class="col-8 col-offset-2 xl__col-10 xl__col-offset-1 flex justify--center"
        >
            <a
                href="/produits/nephrowise/"
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/nephrowise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Nephro</span>Wise
                </h3>
                <p class="text--sm">
                    Suivi de greffe
                    <br />Insuffisance rénale stade IV & V
                </p>
            </a>

            <a
                href="/produits/mentalwise/"
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/mentalwise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Mental</span>Wise
                </h3>
                <p class="text--sm">Bipolaires Dépression Schizophrénie</p>
            </a>

            <a
                href="/produits/oncowise/"
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/oncowise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Onco</span>Wise
                </h3>
                <p class="text--sm">
                    Cancer du sein 
                    <br />Cancer de la prostate 
                    <br />Hématologie
                </p>
            </a>

            <a
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/cardiowise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Cardio</span>Wise
                </h3>
                <p class="text--sm">
                    Insuffisance cardiaque
                    <br />Diabète / HTA
                    <br />AVC
                </p>
            </a>

            <a
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/pneumowise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Pneumo</span>Wise
                </h3>
                <p class="text--sm">
                    Apnée du sommeil
                    <br />BPCO
                    <br />Asthme
                </p>
            </a>

            <a
                class="corners--rounded block text--center padding--x-3 padding--y-6 md__col-6 lg__col-6 xl__col-4"
            >
                {% include snippets/immunowise %}
                <h3 class="body text--primary text--lg regular">
                    <span class="semibold">Immuno</span>Wise
                </h3>
                <p class="text--sm">Polyarthrite rhumatoïde</p>
            </a>
        </div>
    </div>
</section>


<section class="testimonials">
    {% include components/testimonial_static 
    heading: "“NephroWise permet une gestion du patient en ambulatoire en gardant un œil sur l’évolution de sa santé à domicile.
    Certains patients ont un état de santé fragile. Grâce à un suivi de la tension et du poids, il devient possible d’éviter des hospitalisations.”",
    author: "Dr Jérôme Olagne - CHU Strasbourg",
    image: "" %}
</section>

{% include components/cta heading: "Découvrez comment Sêmeia peut vous aider",
link_url: "mailto:contact@semeia.io", link_text:"Nous contacter" %}
