---
layout: base.html
---
<section class="home-hero">
    <div class="wrapper lg__padding--bottom-3">
        <div class="flex">
            <div class="col-12">
                <h1 class="text--light text--center text--xl lg__text--3xl margin--bottom-7 lg__margin--bottom-12">Enfin une solution de télésuivi des patients simple, intuitive et efficace.</h1>
            </div>
            <div class="col-12 lg__col-10 relative">
                <img alt="app preview" class="shadow corners--rounded" src="/assets/images/app-preview.png">
                <a class="button-primary shadow demo-button" href="">Cliquez pour essayer</a>
            </div>
            <div class="col-12 lg__col-2 flex justify--center lg__justify--start lg__align--center lg__align-content--end">
                <ul class="margin--x-2">
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/mentalwise %}
                            </span>
                            <span class="semibold">mental</span>wise®</a>
                    </li>
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/nephrowise %}
                            </span>
                            <span class="semibold">nephro</span>wise®</a>
                    </li>
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/cardiowise %}
                            </span>
                            <span class="semibold">cardio</span>wise®</a>
                    </li>
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/oncowise %}
                            </span>
                            <span class="semibold">onco</span>wise®</a>
                    </li>

                </ul>
                <ul class="margin--x-2">
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/immunowise %}
                            </span>
                            <span class="semibold">immuno</span>wise®</a>
                    </li>
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/pmeumowise %}
                            </span>
                            <span class="semibold">pmeumo</span>wise®</a>
                    </li>
                    <li>
                        <a class="text--light" href="">
                            <span class="hidden md__block">
                                {% include snippets/surgerywise %}
                            </span>
                            <span class="semibold">surgery</span>wise®</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<div class="spacer"></div>

{% include components/testimonials %}