---
layout: base.html
---

<div class="bg--light">
    <section class="wrapper">
        <div class="flex lg__align--center">
            <div class="col-12 lg__col-8 lg__col-offset-2 lg__text--xl">
                <h1 class="text--primary text--center margin--bottom-10">
                    Comment utilisons-nous l’intelligence artificielle ?
                </h1>
            </div>
            <div class="col-12 lg__col-6 text--center md__text--left margin--bottom-20 lg__margin--bottom-0">
                <p>
                    Nous utilisons les dernières technologies de Deep Learning
                                                            pour estimer le risque d’apparition d’un évènement indésir
                                                            rupture dans le parcours de soins du patient.
                </p>
                <p>
                    Nos modèles utilisent l’ensemble des données disponibles
                                                            (caractéristiques socio-économiques, co-morbidités, séjour
                                                            prises de médicaments, imagerie, analyses de sang…) mais
                                                            aussi leur « dynamique », c’est-à-dire l’enchaînement des
                                                            durées.
                </p>
                <p class="semibold">
                    Ces modèles dynamiques ont déjà prouvé leur efficacité pour
                                                            anticiper les arrêts de traitement ou les réhospitalisations
                </p>
            </div>

            <div class="col-12 lg__col-6">
                <img alt="" src="/assets/images/intelligence-artificielle.png"/>
            </div>
        </div>
    </section>
</div>

<div class="home-advantages">
    <div class="wrapper padding--bottom-0">
        <div class="lg__grid lg__grid-12-columns">
            <h2 class="margin--top-20 lg__margin--top-0 margin--bottom-4 lg__col-start-3 lg__col-end-7">
                Quelles données utilisons-nous ?
            </h2>
            <div class="margin--bottom-15 lg__row-start-2 lg__col-start-3 lg__col-end-7">
                <hr class="margin--bottom-6"/>
                <p>
                    Nous nous basons principalement sur le SNDS enrichi de
                                                            données cliniques.
                </p>
            </div>
            <h2 class="margin--bottom-4 lg__col-start-7 lg__col-end-11">
                Qu’est-ce que le SNDS ?
            </h2>
            <div class="margin--bottom-15 lg__col-start-7 lg__col-end-11 lg__row-start-2">
                <hr class="margin--bottom-6"/>
                <p>
                    Il s’agit du système national des données de santé qui
                                                            regroupe tous les remboursements de l’Assurance Maladie et d
                                                            consommations de soins en France. C’est tout simplement la
                                                            plus grande base de données de santé au monde !
                </p>
            </div>
        </div>
        <!-- first part -->

        <div class="padding--y-10 bg--primary corners--rounded lg__grid lg__grid-12-columns">
            <h2 class="lg__text--2xl text--light lg__col-start-2 lg__col-end-12">
                Une Intelligence Artificielle éthique et responsable
            </h2>
            <div class="margin--bottom-15 lg__padding--bottom-0 lg__col-start-2 lg__col-end-12">
                <hr/>

                <p class="text--light">
                    Nous sommes engagés dans la promotion d’une intelligence
                                                            artificielle éthique et responsable.
                </p>
                <p class="text--light">
                    Nos algorithmes sont construits en collaboration avec des
                                                            médecins dans le respect des principes éthiques édictés pa
                                                            scientifique indépendant. Nous appliquons le principe de la
                                                            garantie humaine en intelligence artificielle et toutes les
                                                            décisions médicales sont pri médecins, nous outils mettent
                                                            l’IA au service la décision médicale.
                </p>
                <p class="text--light">
                    Enfin, nos chercheurs travaillent sur les mécanismes
                                                            permettant d’expliciter les algorithmes pour limiter l’effet
                                                            « boîte n deep learning
                </p>
            </div>
        </div>
        <!-- 2nd part -->
    </div>
    <div class="bg--secondary"></div>
</div>

<div class="bg--secondary">
    <div class="wrapper">
        <div class="grid grid-2-columns lg__grid-12-columns lg__grid-3-rows padding--y-10 lg__padding--x-0">
            <div class="col-start-1 col-end-3 lg__col-end-9 lg__row-start-1 lg__row-end-4">
                <div class="bg--white radius-extra-br padding--x-3 lg__padding--x-15 padding--y-6 lg__padding--y-20">
                    <h2 class="text--center lg__text--left">
                        Et la sécurité dans tout ça ?
                    </h2>
                    <p>
                        Toutes les données sont stockées sur des serveurs
                                                                        sécurisés, l’ensemble des traitements réalisés par nos
                                                                        data-scienti video et stockés pour garantir une
                                                                        transparence et traçabilité totales.
                    </p>
                    <p>
                        Le serveur de Sêmeia a été agréé par la CNIL et est
                                                                        habilitée à recevoir les données issues de l’Assurance
                                                                        Maladie
                    </p>
                    {% include components/button-tertiary link:"/securite-des-donnes/", text:"en
                    savoir plus" %}
                </div>
            </div>
            <img alt="" class="col-end-2 lg__col-start-9 lg__col-end-12" src="/assets/images/cnil.png"/>
            <img alt="" class="col-start-2 lg__col-start-9 lg__col-end-12" src="/assets/images/maladie.png"/>
        </div>
    </div>
</div>

{% include components/cta heading: "Découvrez comment Sêmeia peut vous aider",
link_url: "#", link_text:"Essayez la demo" %}
