---
layout: base.html
---

<section class="wrapper">
	<div class="flex">
		<div class="col-12 margin--bottom-10">
			<h1 class="text--primary text--center margin--bottom-4">Notre équipe</h1>
			<p class="text--center heading">
				Sêmeia est née en avril 2017 à l’initiative de Pierre Hornus, Mathieu Godart et Daniel Szeftel suite au premier prix remportéauprès de l’Assurance Maladie.
			</p>
		</div>

		<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/mathieu-godart.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Mathieu Godart</p>
			<p class="text--neutral-light">CTO</p>

			<div>
				<p>
					J’ai un double cursus Ecole decommerce (EM Lyon) et Data Science(Actuaire Certifié au CEA).
				</p>

				<p>
				 	Après 12 années de conseil dans ledomaine de la Santé auprès desindustriels de la santé (laboratoirespharmaceutiques, fabricants dedispositifs médicaux), de l’AssuranceMaladie et des assureurs santé, j’aidécidé de mettre mes compétences degestion et de data science ainsi quema connaissance fine du système dela santé et de ses acteurs pour créerSêmeia en avril 2017.
				</p>

				<p>
					Localisation : Paris
				</p>

				<a>{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

		<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/pierre-hornus.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Pierre Hornus</p>
			<p class="text--neutral-light">CEO</p>

			<div>
				<p>
					J’ai un double cursus Ecole decommerce (EM Lyon) et Data Science(Actuaire Certifié au CEA).
				</p>

				<p>
				 	Après 12 années de conseil dans ledomaine de la Santé auprès desindustriels de la santé (laboratoirespharmaceutiques, fabricants dedispositifs médicaux), de l’AssuranceMaladie et des assureurs santé, j’aidécidé de mettre mes compétences degestion et de data science ainsi quema connaissance fine du système dela santé et de ses acteurs pour créerSêmeia en avril 2017.
				</p>

				<p>
					Localisation : Paris
				</p>

				<a>{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

				<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/daniel-szeftel.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Daniel Szeftel</p>
			<p class="text--neutral-light">President</p>

			<div>
				<p>
					J’ai un double cursus Ecole decommerce (EM Lyon) et Data Science(Actuaire Certifié au CEA).
				</p>

				<p>
				 	Après 12 années de conseil dans ledomaine de la Santé auprès desindustriels de la santé (laboratoirespharmaceutiques, fabricants dedispositifs médicaux), de l’AssuranceMaladie et des assureurs santé, j’aidécidé de mettre mes compétences degestion et de data science ainsi quema connaissance fine du système dela santé et de ses acteurs pour créerSêmeia en avril 2017.
				</p>

				<p>
					Localisation : Paris
				</p>

				<a>{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

		
	</div>
</section>


<section class="team bg--light">
	<div class="wrapper">
		<div class="flex">
			<div class="margin--bottom-12 col-12 lg__col-offset-1 lg__col-11">
				<h2 class="text--center lg__text--left lg__text--2xl">Notre équipe</h2>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/delphine.jpg" >
				<p class="team__member-name">Delphine</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/aurelien.jpg" >
				<p class="team__member-name">Aurelien</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/clemence.jpg" >
				<p class="team__member-name">Clémence</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/nathan.jpg" >
				<p class="team__member-name">Nathan</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/paul.jpg" >
				<p class="team__member-name">Paul</p>
			</div>

			<!-- 2nd row -->
			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/philippe.jpg" >
				<p class="team__member-name">Philippe</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/theo.jpg" >
				<p class="team__member-name">Théo</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/julien.jpg" >
				<p class="team__member-name">Julien</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/pierre.jpg" >
				<p class="team__member-name">Pierre</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/florien.jpg" >
				<p class="team__member-name">Florien</p>
			</div>
		</div>
	</div>
</section>
