---
layout: base.html
---

<section class="wrapper">
	<div class="flex">
		<div class="col-12 lg__col-offset-1 lg__col-10 margin--bottom-10 lg__margin--bottom-20">
			<h1 class="text--primary text--center margin--bottom-4 lg__text--2xl">Notre équipe</h1>
			<p class="text--center heading lg__text--lg">
				Sêmeia est née en avril 2017 à l’initiative de Pierre Hornus, Mathieu Godart et Daniel Szeftel suite au premier prix remporté
auprès de l’Assurance Maladie.
			</p>
		</div>

		<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/mathieu-godart.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Mathieu Godart</p>
			<p class="text--neutral-light">Directeur technique</p>

			<div>
				<p>
					Mathieu est ingénieur de Telecom ParisTech et est expert dans les domaines du développement mobile et des architectures Big Data qu’il a mises en place lors de sa précédente expérience chez Criteo. Il fait partie des gourous de la communauté française du développement informatique et a notamment créé l'une des plus grandes conférences européennes dédiées au langage de développement Swift (FrenchKit). Il est le Directeur technique de Sêmeia.
				</p>

				<a href="https://www.linkedin.com/in/godart">{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

		<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/pierre-hornus.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Pierre Hornus</p>
			<p class="text--neutral-light">CEO</p>

			<div>
				<p>
					Pierre est diplômé de l’EM Lyon et actuaire certifié IA. Il a 10 ans d’expérience dans le conseil et a notamment accompagné les équipes de l’Assurance Maladie dans leurs travaux d’études sur les données de remboursement. Connaisseur de la sphère publique, il est intégré aux principaux groupes de travail des pouvoirs publics, notamment le projet Health Data Hub issu de la mission Villani. Il est le CEO de Sêmeia.
				</p>

				<a href="https://www.linkedin.com/in/pierre-hornus">{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

		<div class="col-12 lg__col-4 margin--bottom-12">
			<img class="corners--rounded margin--bottom-6 width--full" src="/assets/images/our-team/daniel-szeftel.jpg" alt="matheu godart" >
			<p class="heading text--lg margin--bottom-0">Daniel Szeftel</p>
			<p class="text--neutral-light">President</p>

			<div>
				<p>
					Daniel, diplômé de l’IEP Grenoble a plus de 15 ans d’expérience dans le domaine du conseil aux industriels de la santé et a une parfaite connaissance de tous les acteurs. Véritable leader d’opinion dans ce domaine, il a dirigé un cabinet de conseil et est à l’origine de plusieurs publications en collaboration avec les principaux think tanks (Institut de l’Entreprise, Institut Montaigne). Il est le Président de Sêmeia.
				</p>

				<a href="https://www.linkedin.com/in/daniel-szeftel-4a3a458">{% include snippets/icon-linkedin %}</a>
			</div>
		</div>

		
	</div>
</section>


<section class="team bg--light">
	<div class="wrapper">
		<div class="flex">
			<div class="margin--bottom-12 col-12 lg__col-offset-1 lg__col-11">
				<h2 class="text--center lg__text--left lg__text--2xl">Notre équipe</h2>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/pierre.jpg" >
				<p class="team__member-name">Pierre</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/philippe.jpg" >
				<p class="team__member-name">Philippe</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/aurelien.jpg" >
				<p class="team__member-name">Aurelien</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/paul.jpg" >
				<p class="team__member-name">Paul</p>
			</div>

			<div class="team__member col-6 md__col-4  lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/delphine.jpg" >
				<p class="team__member-name">Delphine</p>
			</div>

			<!-- 2nd row -->
			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/florian.jpg" >
				<p class="team__member-name">Florian</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/nathan.jpg" >
				<p class="team__member-name">Nathan</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/max.jpg" >
				<p class="team__member-name">Max</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/celia.jpg" >
				<p class="team__member-name">Célia</p>
			</div>


			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/fanny.jpg" >
				<p class="team__member-name">Fanny</p>
			</div>

			<!-- 3rd row -->
			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/theo.jpg" >
				<p class="team__member-name">Théo</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/sylvain.jpg" >
				<p class="team__member-name">Sylvain</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/paul2.jpg" >
				<p class="team__member-name">Paul</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/carole.jpg" >
				<p class="team__member-name">Carole</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/margaux.jpg" >
				<p class="team__member-name">Margaux</p>
			</div>

			<!-- 3rd row -->
			<div class="team__member col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/yassine.jpg" >
				<p class="team__member-name">Yassine</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/tristan.jpg" >
				<p class="team__member-name">Tristan</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/bernard.jpg" >
				<p class="team__member-name">Bernard</p>
			</div>

			<div class="team__member col-6 md__col-4 lg__col-2">
				<img class="team__member-photo" src="/assets/images/our-team/julien.jpg" >
				<p class="team__member-name">Julien</p>
			</div>

		</div>
	</div>
</section>

<section id="counsel" class="team">
	<div class="wrapper">
		<div class="flex">
			<div class="margin--bottom-12 col-12 lg__col-offset-1 lg__col-11">
				<h2 class="text--center lg__text--left lg__text--2xl">Notre Conseil scientifique</h2>
				<p>
					Sêmeia s’est doté d’un Comité Scientifique dirigé par le Dr Christian Espagno, membre de l’académie de chirurgie. Ce comité, composé de médecins, d’épidémiologistes, d’économistes et de data scientists de premier ordre, vise à structurer les orientations stratégiques de Sêmeia. Il a notamment pour rôle de conseiller la direction de Sêmeia sur sa politique de recherche et développement, les modalités d’évaluation clinique de ses solutions et le développement de partenariats académiques français et internationaux.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<p class="team__member-name text--md">Dr Christian<br>Espagno</p>
				<hr />
				<p class="text--sm">
					Neurochirurgien à la retraite, travaille avec la HAS sur les futurs décrets d’autorisation en particulier sur les indicateurs qualité/sécurité des soins et les indicateurs d’alerte.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Pr Isabelle<br>Berry</p>
				<hr />
				<p class="text--sm">
					Professeur de biophysique et médecine nucléaire à Toulouse, directrice adjointe d’une unité CNRS Cerveau et cognition, coordinatrice du département de médecine nucléaire à Toulouse.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Dr Marion<br>Leboyer</p>
				<hr />
				<p class="text--sm">
					PU-PH en psychiatrie, directrice médicale du DMU Impact, directrice de la fondation FondaMental, responsable du DHU PePsy.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Mme Dominique<br>Polton</p>
				<hr />
				<p class="text--sm">
					économiste, ancienne directrice de la stratégie des études à la CNAM puis conseillère du directeur général, ancienne présidente de l’INDS et actuellement vice-présidente du conseil stratégique de l’article 51.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Pr Alain<br>Bernard</p>
				<hr />
				<p class="text--sm">
					PU-PH en chirurgie thoracique, chef de pôle, spécialiste de l’évaluation du dispositif médical, travail à la mesure de la qualité des bases SNDS en chirurgie, président du jury PRME.
				</p>
			</div>

			<!-- 2nd row -->
			<div class="team__member expert col-6 md__col-4 lg__col-offset-1 lg__col-2">
				<p class="team__member-name text--md">Pr Jean-Louis<br>Pepin</p>
				<hr />
				<p class="text--sm">
					PU-PH en physiologie clinique, pneumologue spécialiste des maladies du sommeil.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Pr Gérard<br>Réach</p>
				<hr />
				<p class="text--sm">
					PU-PH en diabétologie, expert sur l’observance thérapeutique.
				</p>
			</div>

			<div class="team__member expert col-6 md__col-4 lg__col-2">
				<p class="team__member-name text--md">Pr Emmanuel<br>Touzé</p>
				<hr />
				<p class="text--sm">
					PU-PH en neurologie, président de la Société française de pathologie neurovasculaire et Doyen de l’UFR Université Caen Normandie.
				</p>
			</div>

		</div>
	</div>
</section>


<section id="partners" class="bg--light partners">
	<div class="wrapper">
		<div class="flex">
			<div class="col-12 margin--bottom-12">
				<h2 class="text--center lg__text--2xl">Nos partenaires</h2>
			</div>
		</div>

		<div class="flex justify--center align--center">
			<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/maladie.png"
            />

           	<img
                alt=""
                class="margin--x-2 margin--bottom-8 md__margin--x-4 xl__margin--x-6"
                src="/assets/images/our-team/health-data-hub.png"
            />

           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/resah.png"
            />

           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/ovh.png"
            />

           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/medicen.png"
            />

           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/capgemini.png"
            />

           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/snitem.png"
						/>
						
           	<img
                alt=""
                class="margin--x-2 md__margin--x-4 margin--bottom-8 xl__margin--x-6"
                src="/assets/images/our-team/bpi.png"
            />
		</div>
	</div>
</section>

{% include components/cta heading: "Découvrez comment Sêmeia peut vous aider",
link_url: "mailto:contact@semeia.io", link_text:"Nous contacter" %}

